{% extends "encyclopedia/layout.html" %}

{% block title %}
{% if edit %}
Editing {{ entryTitle }}
{% else %}
New entry
{% endif %}
{% endblock %}

{% block body %}
{% if edit %}
<h1>Editing {{ entryTitle }}</h1>
{% else %}
<h1>Let's prepare your new Entry.</h1>
{% endif %}
{% if existing %}
<div class="alert alert-danger" role="alert">
    Sorry, this entry was uploaded by someone else. If you want to edit it <a href="/wiki/{{ entry }}"
        class="alert-link">click
        here</a>.
</div>
{% endif %}
<br>
<div class="form-group" style="width: 100vw; margin-left: 30px;">
    <form action="{% url 'newEntry' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type=submit class="btn btn-dark" style="border-radius: 20px; width: 200px;">
    </form>
</div>
{% endblock %}